.link-kontent {
    display: flex;
    flex-direction: column;
}

.link-section {
    background-color: rgb(126, 229, 255);
    width: 35%;
    padding: 40px;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 3px 20px 12px;
    flex-wrap: wrap;
}
.link-section h2{
    font-size: 40px;
    margin: 15px;
}

.link-section h3{
    font-size: 20px;
    margin: 15px;  
}

.link-section a{
    display: block;
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
}