main {
    width: 100vw;
}

.galery {
    display: flex;
    width: 450px;
    height: 590px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.857);
    margin-top: auto;
    margin-bottom: auto;
}

.galery-image {
    display: flex;
    align-items: center;
    height: 100%;
    width: 590px;

    background-color: black;
    
}

.galery-image-img{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 450px;

}

.first-image {
    margin-left: 0;
}

.controls {
    width: fit-content;
    margin: 0 auto;

}