.niev {
    color: rgb(100, 19, 176);
    font-size: 30px;
}

.hav {
    color: magenta;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.two {
    background-color: darkturquoise;
}

.my {
    /*background-repeat: no-repeat;
            background-size: 100%;
            background-image: url('b2f77d0b58d5b49218e76a41d039b07c.webp');*/
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(065b36b96e67749d3d12810f43c72353c1534bfcb590db00ec0c8cae6a8a3f66_200.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.menu-item {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.menu-item:hover, .active {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,200,167,1) 50%, rgba(0,212,255,1) 100%);
    background-color: rgb(100, 200, 167);
    border-radius: 10px;
}

.flex-container {
    width: 80%;
    height: 80%;
    background-color: rgb(255, 251, 199);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.flex-container p {
    height: 50px;
    width: 30px;
    font-size: 45px;
    /* background-color: rgb(158, 158, 255); */
}

.green {
    background-color: rgb(70, 255, 70);
}

.red {
    background-color: rgb(255, 70, 70);
}

.blue {
    background-color: rgb(70, 70, 255);
}

.main-content{
    display: flex;
    flex-direction: column;
}

.content-sectution{
    background-color: aquamarine;
    width: fit-content;
    padding: 40px;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 3px 20px 12px;
}

.content-sectution h2{
    font-size: 50px;
    margin: 20px;
}

.content-sectution h3{
    font-size: 35px;
    margin: 20px;  
}

.content-sectution p{
    font-size: 20px;
}

.content-sectution ul{
    list-style: none;

}

.content-sectution a{
    text-decoration: none;
}

.content-sectution img{
    width: 200px;
}

.right{
    align-self: flex-end;
    background-color: bisque;
}